* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {

    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

header {

    width: 100%;
    overflow: hidden;
    background: black;
    width: 100%;
    text-align: center;
    line-height: 100px;
}


.contenedor-principal {


    width: 90%;
    max-width: 12400px;
    margin: auto;
    overflow: hidden;
}

header .logo h1 {
    color: white;
    font-size: 40px;
    line-height: 70px;
    float: left;
    margin-left: 50px;

}

header nav {
    float: right;
    line-height: 70px;
    margin-right: 30px;
}

header nav a {

    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 17px;
    font-weight: lighter;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

}

header nav a:hover {
    background: #EF256E;

    border-radius: 50px;
}

.cont-anuncio {
    padding: 8px;
    font-size: 8px;
    text-align: center;
}


/* @media screen and (max-width:950px) {

    header .logo h1,
    header nav {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
} */


.banner {

    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(0 0 0/ .4), rgb(0 0 0/.5)), url(/img/header03.jpg);
    background-size: cover;
    background-position: center;
}

.banner-text {

    padding: 50px 70px 55px 70px;
    background: rgba(255, 255, 255, 0.701);
    text-align: center;

}

.banner-text #text-min {

    color: rgb(228, 17, 17);
    font-size: 16px;
    text-align: center;
    font-weight: lighter;

}

.banner-text #text-max {
    font-weight: bold;
    font-size: 30px;
    color: black;
    width: 100%;
    text-align: center;
    margin: 1em 0;
    padding-bottom: 20px;
}


.banner-text a {
    color: white;
    font-weight: bold;
    padding: 15px 30px 15px 30px;
    background: #EF256E;
    text-align: center;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

}

.botton :hover {
    background: orange;
}

.sect-text {
    padding: 50px;
text-align: center;
}

.sect-text h2{

    color:#EF256E ;
    font-size: 35px;
    font-weight: bold;
}
.sect-text h3{
padding-top: 10px;
    color:#4c4548 ;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: underline;
}
.contenedor{
    width: 100%;
    overflow: hidden; 
    margin: auto;  
    text-align: center;
}
.contenido-1{
    display: inline-block;
   margin: 20px 20px 50px 70px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, .2);

}

.contenido-1 img{
    width: 400px;
    height: 400px;
    border-radius: 6px;
   
}
p.precio{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #A0144F ;
  
}
p.text-product {
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 15px;
}
.contenido-1 a{

    text-decoration: line-through;
    color: #5c5c5c;
}

.footer{
    padding: 25px;
    background-color: black;
}
.footer p{
    text-align: center;
    color: white;
}

.contenedor-registro{
padding: 50px; 
display: flex;

}
.imagen-registro{
  
    background-image: url(img/form.jpg);
    border-radius: 20px 0 0 20px;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: auto;
    
}

.formulario-registro{
    width: 50%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, .2);
    border-radius: 0 20px 20px 0;
   
}
.formulario-registro h2{
    padding: 20px;
    margin-top: 16px;
    font-size: 2em;
    text-align: center;
}

.formulario-registro p {
text-align: center;
}
.form-dato{
    display: block;
    padding: 40px 50px;
    overflow: hidden;
    
}
.input{
  
    font-size: 1em;
    margin: 0px 20px 30px 20px;
    overflow: hidden;

}
.input label{
    display: block;
   
}
.input input{
    width: 240px;
    padding: 10px;
     border-radius: 5px;
     border: #737373 1px solid;
}

.nom-ape{
    display: flex;
    
}
.doc-cel{
    display: flex;
}
.email-pass{
    display: flex;
}
.registro{
    text-align: center;
    overflow: hidden;
}
.registro input{
    background: #A0144F;
    padding: 15px 120px;
font-size: 1.2em;
font-weight: bold;
color: white;
border-radius: 20px ;
border: none;

}

.registro :hover{
    background: #ffa20b;
    transition: all 500ms ease;
    cursor: pointer;
}
